<div class="Facebook-Menu-container">
    <nav class="navbar">
        <ul>
            <!-- <button> -->
                 <a href="">Home</a>
            <!-- </button> -->
            <li class="nav-item" *ngIf="!loggedIn()">
                <a class="nav-link" routerLink="/signup">Signup</a>
            </li>
            <li class="nav-item" *ngIf="!loggedIn()">
                <a class="nav-link" routerLink="/userlogin">userLogin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/adminlogin">adminLogin</a>
            </li>
            <li style="cursor: pointer;float:right;" class="nav-item" *ngIf="loggedIn()">
                <a (click)="logout()" class="nav-link">Logout</a>
            </li>
              
        </ul>
    </nav>
</div>
<div class="container-fluid banner">
    <div class="row">
      <div class="col-md-6">
          
     <h2>WELCOME TO FACEBOOK APPLICATION</h2>
      
   
    </div>
    <div class="col-md-6">
      <img src="assets/facebook.png">
    </div>
  </div>
  </div>
