<div class="Facebook-Menu-container">
    <nav class="navbar">
        <ul>
            <!-- <button> -->
                 <a href="">Home</a>
            <!-- </button> -->
            
         <a href="/signup">Signup</a>

         <a href="/adminlogin">adminLogin</a>

         <a href="/userlogin">userLogin</a>
<div class="first">
         <a (click)="logout()">Logout</a>
        </div>
        </ul>
    </nav>
</div>
<div class="container-fluid banner">
    <div class="row">
      <div class="col-md-6">
          
     <h2>WELCOME TO FACEBOOK APPLICATION</h2>
      
   
    </div>
    <div class="col-md-6">
      <img src="assets/facebook.png">
    </div>
  </div>
  </div>
