<!-- <div class="register-wrapper">
    <div class="register-page">
        <div class="register-box">
            <div class="card">
                <div class="card-body register-card-body">

                    <div class="register-logo">
                       
                        <h4> Login</h4>
                    </div>
                    <form [formGroup]="loginForm" autocomplete="off">
                        <label class="btn btn-secondary">
                            <input type="radio" name="role" id="option_a1" autocomplete="off" checked=""
                                  formControlName="role" value="user">
                            User
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="EmailId" formControlName="email" id="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" id="password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-key"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            
                            <div class="col-12">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-block"
                                    (click)="login()">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
           
            </div>
        </div>
    </div>
</div> -->









<!-- <div class="register-wrapper">
    <div class="register-page">
        <div class="register-box">
            <div class="card">
                <div class="card-body register-card-body">

                    <div class="register-logo"> -->
<!-- 
                        <div class="back">
                            <button type="reset" routerLink="/signup">Back</button>
                                        </div>
                        <div class="container">
                            <div class="simple">
                        <h4> Login</h4>
                  
                    <form [formGroup]="loginForm" autocomplete="off">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="EmailId" [(ngModel)]="user.emailId"
                            #email="ngModel" name="email" [ngModelOptions]="{standalone: true}">
                           
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel"
                            name="password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="row">
                            
                            
                            <div class="col-12">
                                <button type="submit" (click)="login()">Sign In</button>
                            </div>
                        </div>
                    </form>
                            </div>
                        </div> -->





                


                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="text-center">
                                        <h2>Login</h2>
                                        
                                            <form [formGroup]="loginForm" autocomplete="off">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="EmailId" [(ngModel)]="user.emailId"
                                                    #email="ngModel" name="email" [ngModelOptions]="{standalone: true}">
                                                    
                                                  </div>
                                                  <div class="mb-3">
                                                    <!-- <label for="exampleInputPassword2" class="form-label">Mobile</label> -->
                                                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel"
                            name="password" [ngModelOptions]="{standalone: true}">
                                                  </div>
                                               
                                                <button type="submit" (click)="login()" class="btn btn-primary">Sign In</button><br/>
                                               
                                            </form>
                                            <div class="my"><b><a routerLink="/signup">New User? Click to Register</a></b><br/></div><br/>
                                            <b><a routerLink="/landingpage">Go to Main Page</a></b>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>                         


