<div class="register-wrapper">
    <div class="register-page">
        <div class="register-box">
            <div class="card">
                <div class="card-body register-card-body">

                    <div class="register-logo">
                       
                        <h4> Login</h4>
                    </div>
                    <form [formGroup]="loginForm" autocomplete="off">
                        <label class="btn btn-secondary">
                            <input type="radio" name="role" id="option_a1" autocomplete="off" checked=""
                                  formControlName="role" value="user">
                            User
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="EmailId" formControlName="email" id="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" id="password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-key"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            
                            <div class="col-12">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-block"
                                    (click)="login()">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
           
            </div>
        </div>
    </div>
</div>