
<div class="jumbotron">
   
        <div class="text-center">
        <h2>Welcome to  FaceBook Admin Account</h2>
    
    </div>
</div>

<div class="Facebook-Menu-container">
    <nav class="navbar">
        <ul>
    
          <li class="nav-item" >
            <a class="nav-link" routerLink="/profiles">Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminaccount">User Details</a>
      </li>
          <!-- <li class="nav-item">
           <a class="nav-link" routerLink="">Add Advertisement</a>
              </li> -->
                   <li style="cursor: pointer;float:right;" class="nav-item">
                    <a (click)="logout()" class="nav-link">Logout</a>
                   </li>
        </ul>
    </nav>
  </div>
  