<div class="container-fluid page">
    <div class="page-box">
        <div class="my">Add Timeline</div>
    </div>
  </div>

<div class="card">
    <form [formGroup]="AddTimelineForm">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Image</label>
                    </div>
                    <div class="form-row" style="margin: top -10px">
                        <div class="col">
                            <input type="text" formControlName="image" class="form-control" placeholder="TimeLine image">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Message</label>
                    </div>
                    <div class="form-row" style="margin: top -10px">
                        <div class="col">
                            <input type="text" formControlName="message" class="form-control" placeholder="TimeLine Message">
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="form-row" style="margin: top -10px">
                    <div class="col-md-6">
                        <button mat-icon-button color="blue" class="btn btn-primary" (click)="addTimeLines()"><mat-icon>add</mat-icon></button>&nbsp;
                    </div>
                </div>
            </div>
      
    </form>
</div>
    


