<div class="container-fluid page">
  <div class="page-box">
      <div class="my">Add Friends</div>
  </div>
</div>
<div class="search-user">
  <input class="form-control" [(ngModel)]="searchText" style="color: blue;" placeholder="Search" autocomplete="off">
</div>
<div class="container">
    <div class="mt-5">
      <table class="table table-bordered" style="width: 1000px; height: 400px;">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Status</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let user of userDetails | filter:searchText">
            <td>{{user.fullName}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.emailId}}</td>
            <td>
               <div *ngIf="!user.friend || (!checkIsFriend(user?.id,user?.friend,'ST001') && !checkIsFriend(user?.id,user?.friend,'ST003') && !checkIsFriend(user?.id,user?.friend,'ST002'))">
                    <button title="Add as Friend" mat-icon-button color="primary" (click)="sendFriendRequest(user,'Pending')">
                      <mat-icon>person_add</mat-icon></button>
                </div>
                <div *ngIf="checkIsFriend(user?.id,user?.friend,'ST001')">
                    <button title="Request Pending" mat-icon-button color="primary" disabled><mat-icon>group</mat-icon></button>
                </div>
               <div *ngIf="checkIsFriend(user?.id,user?.friend,'ST003')">
                    <button title="Request Closed" mat-icon-button color="warning" disabled><mat-icon>close</mat-icon></button>
                </div>
                <div *ngIf="checkIsFriend(user?.id,user?.friend,'ST002')">
                  <button title="friends" mat-icon-button color="primary" disabled><mat-icon style="color: blue;">group</mat-icon></button>
                </div>
          </td>
          <td>
            <div *ngIf="user?.friend?.friendId===loggedInUser.id && user?.friend?.status==='ST001'">
              <button mat-icon-button color="primary" (click)="sendFriendRequest(user,'Accept')">
                <mat-icon>done</mat-icon></button>
            </div>
            <div *ngIf="user?.friend?.friendId===loggedInUser.id && user?.friend?.status==='ST001'">
              <button mat-icon-button color="warning" (click)="sendFriendRequest(user,'Reject')">
                <mat-icon>close</mat-icon></button>
            </div>
          </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>




