<div class="container-fluid page">
  <div class="page-box">
      <div class="my">Friends List</div>
  </div>
</div>
<div class="wrapper">
  <div class="content-wrapper" style="min-height: 400px;">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
      <table class="table table-bordered" style=" width:80%;" >
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Sent Message</th>
           <th>View My Messages</th>
            <th>View Friend Messages</th>
            
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let user of users">
            
            <td>{{user.fullName}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.email}}</td>
        <td>
          <form [formGroup]="messageForm">
            <div class="form-group">
              <textarea formControlName="message" class="form-control" placeholder="Leave a message"></textarea>
            </div>
            <div class="form-group">
              
              <button type="button" style="background-color: blue; color: aliceblue;" (click)="addSubmit(user)">Post</button>
           
          </div>
          </form>
          <br/>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary" (click)="getMyMessages()" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <mat-icon> comment </mat-icon>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div *ngFor="let message of messageList" >
                
                <div *ngIf="message.friend.id == user.id"> 
                  <div class="dropdown-item">
                    <div style="color: blue; font-size: 15px;">
                    {{message.message}}
                    </div>
                  </div>
                </div>
              </div>
             </div>
          </div>
        </td>
        <td> 
          <div class="dropdown">
             <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <mat-icon> comment </mat-icon>
             </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
                    <div *ngFor="let message of messages" >
                         <div *ngIf="message.user.id == user.id"> 
                            <div class="dropdown-item">
                              <div style="color: blue; font-size: 15px;">
                                {{message.message}}
                              </div>
                      
                            </div>
                        </div>
                    </div>
                   
                  </div>
          </div>    
        </td>
          </tr>
        </tbody>
      </table>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
            

