<div class="Facebook-Menu-container">
    <nav class="navbar">
        <ul>
            <!-- <button> -->
                 <a href="">Home</a>
            <!-- </button> -->
            
         <a href="/signup">Signup</a>

         <a href="/adminlogin">adminLogin</a>

         <a href="/userlogin">userLogin</a>

        </ul>
    </nav>
</div>
         <!-- <div class="dropdown">
            <button class="dropbtn">Registration 
                <i class="fa fa-caret-down"></i>
            </button> -->
            <!-- <div class="dropdown-content">                       
                    <a href="/VoterRegistration"></a>
                    <a href="/ContestantRegistration">Contestant</a>
                                        
            </div> -->
        <!-- </div>  -->
        <!-- <div class="dropdown">
            <button class="dropbtn">Login 
                <i class="fa fa-caret-down"></i>
            </button>
        </div> -->


         <!-- <div class="dropdown"> -->
            <!-- <button class="dropbtn" type="button">Login   -->
                <!-- <i class="fa fa-caret-down"></i> -->
            <!-- </button> -->
            <!-- <div class="dropdown-content">                       
                    <a href="/userLogin">User</a>
                    <a href="/adminLogin">Admin</a>
            </div> -->
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/userlogin">User</a>
                <a class="dropdown-item" href="/adminlogin">Admin</a>
            </div>
        </div> -->
        
    
        
        <!-- <li class="nav-item">                
            <li class="nav-item">
                <a class="nav-link" routerLink="/Results">View Results</a></li>   -->
       
        <!-- <li style="float:right"><a class="active" >Logout</a></li> -->
    
    <!-- </ul>
    </nav>
    </div> -->
           <router-outlet></router-outlet> 
          



         


          



          