<!-- <div class="container">
    <div class="mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <td>{{user.fullName}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                routerLink="/password/profile" >Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div> -->
    <div class="container-fluid page">
      <div class="page-box">
          <h2 style="text-align: center; padding-top: 15px;">Profile Card</h2>
      </div>
    </div>
    <div class="container">
    <div class="card">
      <div class="card-body">
     
        <h2>{{user.fullName}}</h2>
       
        <h3>{{user.mobile}}</h3>
        <h3>{{user.email}}</h3>
       
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        routerLink="/password/profile"><mat-icon>create</mat-icon></button>
      </div>
      </div>
    </div>

    
