
    <div class="container-fluid page">
      <div class="page-box">
          <h2 style="text-align: center; padding-top: 15px;">Profile Card</h2>
      </div>
    </div>
    <div class="container">
    <div class="card">
      <div class="card-body">
     
        <h2>{{user.fullName}}</h2>
       
        <h3>{{user.mobile}}</h3>
        <h3>{{user.email}}</h3>
       
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        routerLink="/password/profile"><mat-icon>create</mat-icon></button>
      </div>
      </div>
    </div>

    
