<div class="container">
    <div class="mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <td>{{user.fullName}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                routerLink="/password/profile" >Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
