<div class="jumbotron">
    <div class="container-fluid">
        <div class="text-center">
        <h2>Welcome to  FaceBook User Account</h2>
    </div>
    </div>
</div>
<nav class="nav-fluid">
<ul>
    <li class="nav-item">
        <a class="nav-link" routerLink="/profile"> View Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/wallet">Friend Request</a>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Friends Accepted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/home">logout</a>
    </li>
 </ul>
</nav>
