.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
     /* text-align: center; */
} 
.page-box {
      min-height: 70px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 30px;
      /* text-align: center; */
    
    }
.my{
    text-align: center;
    padding-top: 10px;
}