<div class="container-fluid page">
    <div class="page-box">
        <div class="my">My Timelines</div>
    </div>
  </div>
<div class="wrapper">
   
    <div class="content-wrapper" style="min-height: 400px;">
      
        <section class="content">
            <div class="container-fluid">
                <div class="card-header">
                    <h3 class="card-title">All My TimeLine List</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            
                            <div class="card-body">
                                <table class="table table-bordered" style="width: 80%;">
                                    <thead class="thead-light">
                                        <tr>
                                           
                                            <th>Image</th>
                                            
                                            <th>Messages</th>
                                            <th>View likes</th>
                                            <th>View Comments</th>
                                            <th>Delete Timeline</th>
                                        </tr>
                                    </thead>
                                          <tbody class="tbody" style="text-align: center;" > 
                                      
                                        <tr *ngFor="let timeline of timelines">
                                            
                                            <td><img [src]="timeline.image"></td>
                                            
                                            <td style="font-size: medium">{{timeline.message}}</td>
                                            <td>
                                             
                                                <div class="dropdown">
                                                    <button class="btn btn-primary" type="button" (click)="getlikes()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                                        <span class="material-icons">thumb_up</span>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        
                                                              <div *ngFor="let like of timeline.likes" >
                                                                  <div *ngIf="like.timeline.timeId == timeline.timeId">
                                                                  <div class="dropdown-item" >
                                                               <div style="color: blue; font-size: 20px;">{{like.user.email}}</div> 
                                                                </div>
                                                                  </div>
                                                              </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-primary" type="button" (click)="getcomments()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                                        <mat-icon>message</mat-icon>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                          
                                                              <div *ngFor="let comment of timeline.comments" >
                                                                  <div *ngIf="comment.timeline.timeId == timeline.timeId">
                                                                  <div class="dropdown-item">
                                                               <div style="color: blue; font-size: 15px;">
                                                                {{comment.user.email}} &nbsp;&nbsp;
                                                                <div style="position:relative; ">
                                                                {{comment.comment}}
                                                                </div>
                                                               </div>
                                                              </div>
                                                                  </div>
                                                              </div>
                                                             
                                                    </div>
                                                </div>    
                                            </td>
                                            <td>
                                                <a (click)="delete(timeline.timeId)" class="pointer" style="color: red;"><mat-icon>delete</mat-icon></a>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

