

        <!-- <div *ngIf="noUsers">
            
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <p class="card-text profession">No registered user available in your network ...</p>
                
        </div>

        <div *ngIf="isLoading">
           
                <div style="display: flex; justify-content: center; background: white;">
                   
                </div>
            
        </div> -->
<!-- <p>network</p>
        <div class="card-style">
            <div *ngFor="let user of networkUsers">

                       
                            <div class="show-network-header">{{ user.fullName }} </div>
                    
                    
                            <span *ngIf="user.isNewUser">
                                <button color="primary" type="button" (click)="onRequestButtonClick(user)">Friend
                                    Request</button>
                            </span>
                            <div *ngIf="user.isRequested">
                                <button type="button" disabled>Request Pending</button>
                            </div>
                            <div *ngIf="user.isRejected">
                                <button type="button" disabled>Request Rejected</button>
                            </div>
                   
                
            </div>
        </div> -->



        <div class="container">
            <div class="mt-5">
              <table class="table table-bordered">
                <thead>
                  <tr>
                      <th>Id</th>
                    <th>Full Name</th>
                    <th>Mobile</th>
                    <th>EmailId</th>
                    <th>Status</th>
                    <th colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let user of userDetails">
                    <td>{{user.id}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.emailId}}</td>
                    <td>
                    <!-- <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)="edit(user)">Friend Requested</button></td> -->
                       <div *ngIf="!user.friend">
                         
                            <button type="button" (click)="sendFriendRequest(user,'Pending')">Friend
                                Request</button>
                              
                        </div>
                        <div *ngIf="user?.friend?.userId===loggedInUser.id && user?.friend?.status==='pending'">
                            <button type="button" disabled>Request Pending</button>
                        </div>
                       <div *ngIf="user?.friend?.status==='reject'">
                            <button type="button" disabled>Request Rejected</button>
                        </div>
                        <div *ngIf="user?.friend?.status==='accept'">
                          <button type="button" >Friend</button>
                        </div>
                  </td>
                  <td>
                    <div *ngIf="user?.friend?.friendId===loggedInUser.id && user?.friend?.status==='pending'">
                      <button  type="button" (click)="sendFriendRequest(user,'Accept')">Accept</button>
                    </div>
                    <div *ngIf="user?.friend?.friendId===loggedInUser.id && user?.friend?.status==='pending'">
                      <button type="button" (click)="sendFriendRequest(user,'Reject')"> Reject</button>
                    </div>
                  </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>


        
 
