
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="card">
                      <div class="text-center">
                      <h2>Update Profile</h2>

                          <form [formGroup]="updateForm" (ngSubmit)="updateUsers()">
                            <div class="form-group">
                              <label for="name">User FullName :</label>
                              <input type="text" #name [(ngModel)]="user.fullName" name="name" id="name" class="form-control"
                              formControlName="fullName" placeholder="User Full Name">
                            </div>
                            <div class="form-group">
                              <label for="number">User Mobile :</label>
                              <input type="number" #mobile [(ngModel)]="user.mobileNo" name="mobile" id="mobile"
                                class="form-control" formControlName="mobile" placeholder="User Mobile">
                            </div>
                            <div class="form-group">
                              <label for="text">User Email :</label>
                              <input type="text" #email [(ngModel)]="user.emailId" name="email" id="email"
                                class="form-control" formControlName="email" placeholder="User Email">
                            </div>

                            <div class="form-group">
                              <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                          </form>
                          <b><a routerLink="/password/about">Back</a></b><br/>

                      </div>
                  </div>
              </div>
          </div>
        </div>






















<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                <h1>Update Profile</h1>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail2" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail2">

                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Mobile</label>
                            <input type="number" class="form-control" id="exampleInputPassword2">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1">

                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-primary">Update Profile</button><br/>

                    </form>
                </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

