<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                <h1>Update Profile</h1>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail2" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail2">
                            
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Mobile</label>
                            <input type="number" class="form-control" id="exampleInputPassword2">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Update Profile</button><br/>
                       
                    </form>
                </form>
                </div>
            </div>  
        </div>
    </div>
</div>

