
<div class="Facebook-Menu-container">
  <nav class="navbar">
      <ul>
  
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" routerLink="/network">Network</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" routerLink="/friends">Friends</a>
    </li>
        <li class="nav-item" *ngIf="loggedIn()">
         <a class="nav-link" routerLink="/addtimeline">Add TimeLines</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
              <a class="nav-link" routerLink="/mytimeline">My TimeLines</a>
                 </li>
            <li class="nav-item" *ngIf="loggedIn()">
              <a class="nav-link" routerLink="/viewtimeline">View Timeline</a>
                 </li>
                 <li style="cursor: pointer;float:right;" class="nav-item" *ngIf="loggedIn()">
                  <a (click)="logout()" class="nav-link">Logout</a>
              </li>
      </ul>
  </nav>
</div>
<!-- <tr *ngFor="let user of users">
<td>{{user.fullName}}</td>
</tr> -->
<div class="fullname">fullName: {{fullName}}</div>


