
              <div class="container-fluid page">
                <div class="page-box">
                    <div class="my">Friends Timeline</div>
                </div>
              </div> 
<div class="container">
  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Mobile</th>
          <th>Time Line Name</th>
          <th>Time Message</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let timeline of mytimelines">
          <td>{{timeline.user.fullName}}</td>
          <td>{{timeline.user.mobile}}</td>
          <td>{{timeline.timeLineName}}</td>
          <td>{{timeline.message}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
