<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/facebook.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    
    <a title="Home" mat-list-item routerLinkActive="list-item-active" routerLink="/password/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a title="Add Friends" mat-list-item routerLinkActive="list-item-active" routerLink="/password/network">
        <mat-icon>group_add</mat-icon>Add Friends
    </a>
    <a title="List of Friends" mat-list-item routerLinkActive="list-item-active" routerLink="/password/friends">
        <mat-icon>group</mat-icon>Friends
    </a>
    <a title="Add Timeline" mat-list-item routerLinkActive="list-item-active" routerLink="/password/addtimeline">
        <mat-icon>person_add</mat-icon>Add Timeline
    </a>
    <a title="View My Timeline" mat-list-item routerLinkActive="list-item-active" routerLink="/password/mytimeline"> 
        <mat-icon>person</mat-icon> My Timelines</a>
    <a title="View Friends Timeline" mat-list-item routerLinkActive="list-item-active" routerLink="/password/viewtimeline">
      <i class='fas fa-users'></i>&nbsp; &nbsp;Friends Timeline
     </a>
     <a title="Profile" mat-list-item routerLinkActive="list-item-active" routerLink="/password/about">
      <i class='fas fa-user-cog'></i>&nbsp; Profile
     </a>
  </mat-nav-list>


 
