/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */

@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error-msg-outer-container {
  margin: 16px 12px !important;
  width: 99%;
}

.error-msg-inner-container {
  border: 1px solid #707070;
  padding: 20px 14px;
  border-radius: 6px
}

 p {
  color: #333333;
  font-size: 18px;
}

.no-margin {
  margin: 0 !important;
}

.col-md-12 {
max-width: 99%;
}
