<!-- <div class="jumbotron">
    <div class="container-fluid">
        <div class="text-center">
        <h2>Welcome to  FaceBook Admin Account</h2>
    </div>
    </div> -->
    <div class="back">
        <button type="reset" routerLink="/admindashboard">Back</button>
                    </div>
<div class="search-user">
        <input class="form-control" [(ngModel)]="searchText" placeholder="Search" autocomplete="off">
   
</div>



    <div class="wrapper">
        <div class="content-wrapper" style="min-height: 2077.69px;">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">All Users Details</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover" data-widget="expandable-table"
                                        aria-expanded="true">
                                        <thead class="thead-light">
                                            <tr>
                                              
                                                <th>FullName</th>
                                                <th>Mobile</th>
                                                <th>EmailId</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center" colspan="2">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let user of users | filter:searchText">
                                            <tr>
                                               
                                                <td>{{user.fullName}}</td>
                                                <td>{{user.mobile}}</td>
                                                <td>{{user.emailId}}</td>
                                                
                                                <td>
                                                    <div *ngIf="user.userStatus == true"><span
                                                            class="badge badge-success">{{user.userStatus |
                                                            userStatus}}</span> </div>
                                                    <div *ngIf="user.userStatus == false"><span
                                                            class="badge badge-danger">{{user.userStatus |
                                                            userStatus}}</span> </div>

                                                            <!-- <div><span
                                                                [ngClass]="user.userStatus ? badge badge-success : badge badge-danger">{{user.userStatus |
                                                                userStatus}}</span> </div> -->
                                                </td>
                                                <td class="text-center">
                                                    <div *ngIf="user.userStatus">
                                                    <button type="button" class="btn" (click)="update(user)"><i
                                                            class="fas fa-user-edit"></i>&nbsp;&nbsp;active</button>
                                                        </div>
                                                    &nbsp;&nbsp;
                                                    &nbsp;
                                                    <div *ngIf="!user.userStatus">
                                                         <button type="button" class="btn "
                                                        (click)="delete(user)"><i
                                                            class="fas fa-trash-alt"></i>&nbsp;&nbsp;disactive</button>
                                                    </div>
                                                </td>
                                            </tr>
    
                                        </tbody>
                                    </table>
                                </div>
                            
                            </div>
                            
                        </div>
                      
                    </div>
                </div>
            </section>
        </div>
    </div>
