/* input[type=text], input[type=number], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:50%;
    margin: auto;
  }
  
  body  {
    /* background-image:url(../../assets/image/adminlogin.jpg); */
     /* background-size: contain; 
    margin: 0px;
    height: 600px;
    padding: 5rem;
     background-color: #cccccc; 
  }  */




  .card{
    /* margin-top: 10px; */
    border:none;
    width: 500px;
    height: 350px;
    padding: 10px;
    position: absolute; 
    left:50%;
    
    /* transform: translate(-50%,-50%); */
    background: rgb(69, 69, 173);
    background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%,hsla(260,29%,36%,1) 100% );
  
  }
  .card h2,
  h6{
    color: aqua;
  }
  label{
    color: antiquewhite;
  }
  a{
    color: antiquewhite;
    margin-top: 20px;
  }
  .mb-3{
  padding: 10px;
  }
  h2{
  margin-top: 5px;
  }
  .my{
    margin-top: 15px;
  }
  
  .container{
    margin-top: 50px;
  }